{% extends 'layout.html' %}
{% block body %}
<section class="d-flex align-items-center" style="min-height: 100vh; background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Conexión a base de datos</h2>
              <p class="text-white-50 mb-3">Por favor, logueate</p>
      
              <form action="{{url_for('index')}}" method="POST">
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="host" class="form-label">Host*</label>
                      <input type="text" class="form-control" id="host" name="host" placeholder="Servidor" value="localhost">
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="port" class="form-label">Puerto*</label>
                      <input type="text" class="form-control" id="port" name="port" placeholder="Puerto" value="3306">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label for="user" class="form-label">Usuario*</label>
                      <input type="text" class="form-control" id="user" name="user">
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="database" class="form-label">Base de datos</label>
                  <input type="text" class="form-control" id="database" name="database">
                </div>

                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Conectar</button>
              </form>
      
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
              ERROR {{ error }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}